logs
tmp
.history
dist
bin
repository
templates
test
/target/
target
/activator-launch-1.3.5.jar
/activator-launch-1.3.5.jar
/*.dump
*.dump
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings