logs
project/project
project/target
#target #commented for deploying to openshift
tmp
.history
dist
/target/
/RUNNING_PID
.openshift
bin
repository
templates
test
activator-launch-1.3.5.jar
activator-launch-1.3.5.jar
zv.dump
zvWin1251.dump
activator.bat
activator