body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

form .error input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

form .error .help-inline {
    color: #B94A48;
}

.providers {
    margin: 5px 0;
    list-style: none;
}

.providers li {
    display: inline;
}

.help-block {
    margin: -10px 0 10px 0;
    font-size: 10px;
    color: #ccc !important;
}

h1 {
    margin-bottom: 20px !important;
}

.jumbotron {
#	height: 179px;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
#  background-image: url('../images/tom.jpg')
}
th, td {
    padding: 2px;
   # text-align: left;
}
.container {
  max-width: 960px;
}
footer{
	  width: 940px;
  margin: 0 auto 20px;
  height: 89px;
  line-height: 13px;
  text-align: center;
  color: #d5d1e7;
  padding: 4px 10px 0;
	background: url('')
}
qmain{
.jumbotron {
	height: 640px;
max-width: 960px;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  background-image: url('../images/tom.jpg')
}
}