@(front: Post, older: List[Post])
@main(Messages("playauthenticate.index.title")) {
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" >
       <!--  <h1>@Messages("playauthenticate.index.intro")</h1>
        <p>@Messages("playauthenticate.index.intro_2") <br/>@Messages("playauthenticate.index.intro_3")</p>-->
        <!-- <img src="http://zv-cdn.appspot.com/static/zv/templates/siteground-j15-93/images/headerimg960.png" class="img-responsive">
         -->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h2>@older.get(0).title</h2>
       <p>@if(older.get(0).htmlPreview != null){@Html(older.get(0).htmlPreview)}else{@Html(older.get(0).content.substring(1, 150))...}</p>
          <a class="btn" href="@routes.Application.show(older.get(0).id)">@Messages("playauthenticate.index.weite") &raquo;</a></p>
        </div>
        <div class="col-xs-6 col-sm-4">
          <h2>@older.get(1).title</h2>
<p>@if(older.get(1).htmlPreview != null){@Html(older.get(1).htmlPreview)}else{
@if(older.get(1).content.length() > 150){@Html(older.get(1).content.substring(1, 150))...}else{@Html(older.get(1).content)}
}</p>
          <a class="btn" href="@routes.Application.show(older.get(1).id)">@Messages("playauthenticate.index.weite") &raquo;</a></p>
       </div>
        <div class="col-xs-6 col-sm-4">
          <h2>@older.get(2).title</h2>
<p>@if(older.get(2).htmlPreview != null){@Html(older.get(2).htmlPreview)}else{
@if(older.get(2).content.length() > 150){@Html(older.get(2).content.substring(1, 150))...}else{@Html(older.get(2).content)}
}</p>
          <a class="btn" href="@routes.Application.show(older.get(2).id)">@Messages("playauthenticate.index.weite") &raquo;</a></p>
        </div>
      </div>
       <!-- from yabe -->
        @Option(front).map { front =>
    <!--  @display(front, mode = "home") -->
    
    @Option(older).filterNot(_.isEmpty).map{ posts => 
      <div class="older-posts">
        <h3>Другие<span class="from">новости</span></h3>
        @posts.map { post =>
          @display(post, mode = "teaser")
        }
       </div>
    }
  }.getOrElse {
    <div class="empty">
      There is currently nothing to read here
    </div>
    
  }
  }
    
