@(front: Post, older: List[Post], sape: javasape.Sape)
@main(Messages("playauthenticate.index.title")) {
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" >
       <!--  <h1>@Messages("playauthenticate.index.intro")</h1>-->
      </div>
     @* @Messages("Реклама: ") 
@sape.getPageLinks(request.uri,request.cookies).render()
@sape.render()*@
      <!-- Example row of columns -->
      <div class="row">
      @for(i <- 0 to 2) {
        <div class="col-xs-6 col-sm-4">
        @defining(CdnAssets.changeImageUrl(older.get(i).htmlPreview)){ prev =>
          		<h2>@older.get(i).title</h2>
				<p>@if(prev != null){@Html(prev)}else{
							@defining(CdnAssets.changeImageUrl(older.get(i).content)){ cont =>
					@if(cont.length() > 150){@Html(cont.substring(1, 150))...}else{@Html(cont)}
				}</p>
			}
		}
          <a class="btn" href="@routes.Application.show(older.get(i).id)">@Messages("playauthenticate.index.weite") &raquo;</a></p>
       </div>}
      </div>
       <!-- from yabe -->
       @*
        @Option(front).map { front =>
    @display(front, mode = "home")
    
    @Option(older).filterNot(_.isEmpty).map{ posts => 
      <div class="older-posts">
        <h3>@Messages("Другие новости:")</h3>
        @posts.map { post =>
          @display(post, mode = "teaser")
        }
       </div>
    }
  }.getOrElse {
    <div class="empty">
      Нет новостей на сегодня
    </div>
    }*@
    <div class="older-posts">
        <h3>@Messages("Другие новости:")</h3>
         @for(i <- 3 to 7) {
         	@display(older.get(i), mode = "teaser")
         }        
       </div>@*
        <div class="older-posts">
        <h3>@Messages("playauthenticate.index.weite")</h3>
         @for(i <- 8 to older.size-1) {
         	 <a class="btn" href="@routes.Application.show(older.get(i).id)">i&raquo;</a>
         }        
       </div>*@
  }
    
