@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>

        <meta charset="utf-8">@*<meta charset="Windows-1251">*@
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Кинологический центр Симаргл">
        <meta name="author" content="Eparst">
        @*front-end framework*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/uikit.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>
        @*need for calling routes from js
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>*@
        @*front-end framework*@
        <script type="text/javascript" src="@routes.Assets.at("javascripts/uikit.min.js")"></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))">
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->


                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    	<li class="@("active".when(request.path == "/"))"><a href="@routes.Application.index()">@Messages("playauthenticate.navigation.home")</a></li>
                        <li class="@("active".when(request.path == "/posts/71"))"><a href="@routes.Application.show(71)">О нас</a></li>
                        <li class="@("active".when(request.path == "/posts/92"))"><a href="@routes.Application.show(92)">Дрессировка</a></li>
                        <li class="@("active".when(request.path == "/posts/93"))"><a href="@routes.Application.show(93)">Зоогостиница</a></li>
						<li class="@("active".when(request.path == "/posts/94"))"><a href="@routes.Application.show(94)">Безопасность</a></li>
						<li class="@("active".when(request.path == "/posts/91"))"><a href="@routes.Application.show(91)">Вольеры</a></li>
						<li class="@("active".when(request.path == "/photo"))"><a href="@routes.Application.photo()">Фотогалерея</a></li>
                        <li class="@("active".when(request.path == "/posts/75"))"><a href="@routes.Application.show(75)">Контакты</a></li>
						  <!--<li class="@("active".when(nav == "restricted"))"><a href="@routes.Application.restricted()">@Messages("playauthenticate.navigation.restricted") </a></li>-->
                        
                        @subjectNotPresent() {
                            <li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">@Messages("playauthenticate.navigation.signup")</a></li>
                        }
                    </ul>
                    @subjectPresentOr() {
                        <ul class="nav navbar-nav navbar-right">
                        @defining(Application.getLocalUser(session())) { user =>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@("active".when(nav == "profile"))"><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
                                    <li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
                                    <li class="divider"></li>
                                    @if(user.isAdmin){ 
                                    <li><a href="@routes.Application.admin()">All Posts</a></li>
                                     <li><a href="@routes.Application.users()">All Users</a></li>
                                     }
                                    <li class="divider"></li>                                    
                                    <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
                                </ul>
                            </li>
                        }
                        </ul>
                    } {
                        <a href="@routes.Application.login()" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
                    }

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="container">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
            @content

            <hr>

            <footer>
                <p>&copy; 2016 Кинологический центр "Симаргл".</p>
                <p>
                    <small> Powered by Eparst<a href="http://med24.ru/index.php?option=com_contact&view=category&catid=12&Itemid=96" target="_blank">
                        med24.ru</a> &middot;
                        </small></p>
            </footer>
        </div> <!-- /container -->

    </body>
</html>
