@(post: Post, commentForm: Form[CommentForm], randomID: String)
@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
        <div class="container">
        <div class="jumbotron" >
        </div> <!-- jumbotron --> 
@main(post.title){
<!--   <ul id="pagination">
      @if(!Option(post previous).isEmpty) {
        <li id="previous">
          <a href="@routes.Application.show(post.previous.id)">
            @post.previous.title
          </a>
         <li>
        }
      @if(!Option(post next).isEmpty) {
        <li id="next">
          <a href="@routes.Application.show(post.next.id)">
            @post.next.title
          </a>
         <li>
        }
    </ul> -->
    @if(flash.contains("success")) {
      <p class="success">@flash.get("success")</p>
    }
    
    @display(post, mode = "full")
          @defining(Application.getLocalUser(session())) { user =>
         @if(user != null){
    @form(routes.Application.postComment(post.id, randomID)) {
      <fieldset>
      @if(user.isAdmin){<a href="@routes.AdminsPosts.edit(post.id)">edit</a></br>
         <a href="@routes.AdminsPosts.delete(post.id)"> !delete!</a></p}
        <legend>Post a comment</legend>
@*  
           @inputText(
            commentForm("name"),
            '_label -> "Full Name:"
          )
          @inputText(
            commentForm("email"),
            '_label -> "Email:"
          )
*@        @textarea(
            commentForm("content"),
            '_label -> "Comment:"
          )
          @* <p> 
            <label for="code">Please type the code below: </label>
            <img src="@routes.Application.captcha(randomID)" />
            <br />
            <input type="text" name="code" id="code" size="18" value="" />
            <input type="hidden" name="randomID" value="@randomID" />
          </p>
           *@
          <p>
            <input type="submit" value="Отправить комментарий" />
          </p>
      </fieldset>
      			}
      			}else{
      			<p>Posting only for regestered users.... </p>
          }
    }
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('form').click(function() {
          $('form').expose({api: true}).load();
        });
        
        if($('form .errors').size()) {
          alert("Screwd\n");
          $('form').expose({api: true, loadSpeed: 0}).load();
          $('form input[type=text]').get(0).focus();
        }
      });
    </script>
}
</div> <!-- container --> 
